

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000; 
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active >a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: white; 
    background-color: #030033;
}

.navbar-default {
    background-color: #10345a;
    border-color: #030033;
}

.nav > li > a:hover,.nav > li > a:focus{
     text-decoration: none;background-color: #039be5; 
}

.navbar-default .navbar-nav > li > a {
    color: white; 
}