<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand" >Assessment</a></div>
  
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav pull-center">
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/pagination']">Customer Info Pagination</a></li> 
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/infinite']">Customer Info Infinite</a></li> 
    </ul> 
  </div>
</div>
</nav>
<div class="body-panel">
<router-outlet></router-outlet>

