<div class="container" style="width: 1500px; height: 600px;">
    <h3>Customer Info with Infinite Scroll</h3>
    <ag-grid-angular
    #agGrid
    class="ag-fresh" 
    style="width: 100%; height: 100%;"
    id="myGrid"
    [columnDefs]="columnDefs"
    [components]="components"
    [enableColResize]="true"
    [rowBuffer]="rowBuffer"
    [debug]="true"
    [rowSelection]="rowSelection"
    [rowDeselection]="true"
    [rowModelType]="rowModelType"
    [paginationPageSize]="paginationPageSize"
    [cacheOverflowSize]="cacheOverflowSize"
    [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
    [infiniteInitialRowCount]="infiniteInitialRowCount"
    [maxBlocksInCache]="maxBlocksInCache"
    (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
    </div>